* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v45_79 {
  width: 100%;
  height: 806px;
  background: url("../images/v45_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v45_80 {
  width: 100%;
  height: 740px;
  background: url("../images/v45_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 0px;
  overflow: hidden;
}
.v45_81 {
  width: 100%;
  height: 740px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v45_82 {
  width: 100%;
  height: 110px;
  background: rgba(104,182,239,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v45_83 {
  width: 863px;
  height: 182px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 183px;
  border: 1px solid rgba(107,106,106,1);
  overflow: hidden;
}
.v45_85 {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 87px;
  overflow: hidden;
}
.v45_86 {
  width: 342px;
  height: 47px;
  background: url("../images/v45_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 691px;
  overflow: hidden;
}
.v45_87 {
  width: 342px;
  height: 47px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(147,145,145,1);
}
.v45_88 {
  width: 237px;
  color: rgba(0,0,0,0.3100000023841858);
  position: absolute;
  top: 5px;
  left: 57px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v45_89 {
  width: 35px;
  height: 35px;
  background: rgba(105,96,96,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
}
.v45_90 {
  width: 45px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 15px;
}
.v45_91 {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 1069px;
}
.v45_92 {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 1155px;
}
.v45_93 {
  width: 565px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 145px;
  left: 336px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v45_94 {
  width: 407px;
  background: rgba(230,249,255,1);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 183px;
}
.v65_2 {
  width: 979px;
  height: 806px;
  background: url("../images/v65_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 183px;
  overflow: hidden;
}
.v58_11 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 275px;
  left: 204px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v58_4 {
  width: 858px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 121px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v82_134 {
  width: 90px;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 63px;
  border: 1px solid rgba(0,0,0,1);
}
.v58_5 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 237px;
  left: 204px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v45_97 {
  width: 863px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 0px;
  overflow: hidden;
}
.v45_99 {
  width: 863px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 0px;
  overflow: hidden;
}
.v45_98 {
  width: 863px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 0px;
  overflow: hidden;
}
.v60_48 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 461px;
  left: 376px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v60_47 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 460px;
  left: 624px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v60_50 {
  width: 153px;
  height: 6px;
  background: rgba(147,145,145,1);
  opacity: 1;
  position: absolute;
  top: 492px;
  left: 355px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v60_46 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 460px;
  left: 100px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v58_10 {
  width: 322px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 314px;
  left: 204px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v58_9 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 233px;
  left: 739px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v82_135 {
  width: 78px;
  height: 18px;
  background: rgba(158,158,158,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 233px;
  left: 640px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v82_138 {
  width: 82px;
  height: 18px;
  background: rgba(158,158,158,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 233px;
  left: 722px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v82_144 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 669px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v82_145 {
  width: 82px;
  height: 18px;
  background: rgba(158,158,158,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 669px;
  left: 9px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v82_137 {
  width: 42px;
  height: 18px;
  background: rgba(158,158,158,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 259px;
  left: 640px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v82_139 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 233px;
  left: 657px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v82_142 {
  width: 78px;
  height: 18px;
  background: rgba(158,158,158,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 527px;
  left: 13px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v82_143 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 527px;
  left: 30px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v82_141 {
  width: 39px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 259px;
  left: 641px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v82_146 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 527px;
  left: 880px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v82_147 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 669px;
  left: 880px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
